<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="./style.css">
	</head>
	<body>
		
	<form id="newraven" action="/ravens" method="POST">
		Name:<input type="text" name="name"><br>
		Favorite Food:<input type="text" name="favfood"><br>
		Age:<input type="text" name="age"><br>
		<input type="submit" value="Add">
	</form>
	
	</body>
</html>