<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="./style.css">
	</head>
	<body>
		<h2> Raven: <%= thisraven.name %> </h2><br><br>
		Favorite Food: <%= thisraven.favfood %><br>
		Age: <%= thisraven.age %><br>
	
	
	</body>
</html>